@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";

$theme-colors: (
  "primary": #4a90e2,
  "secondary": #e0e0e0,
  "default": #273648,
  "light": #f9f9f9,
  "dark": #535353,
);

$spacers: (
  0: 0,
  1: (
    $spacer * 0.5,
  ),
  2: $spacer,
  3: (
    $spacer * 1.5,
  ),
  4: (
    $spacer * 2,
  ),
  5: (
    $spacer * 2.5,
  ),
);
@import "../bootstrap/scss/bootstrap";

@font-face {
  font-family: Dubai-Regular;
  src: url("../fonts/DubaiW23-Regular.woff");
  src: url("../fonts/DubaiW23-Regular.ttf");
}
@font-face {
  font-family: Dubai-Medium;
  src: url("../fonts/DubaiW23-Medium.woff");
  src: url("../fonts/DubaiW23-Medium.ttf");
}

@mixin font($name, $size) {
  font-family: $name, Arial, Helvetica, sans-serif;
  font-size: $size;
}

h2 {
  @include font(Dubai-Medium, 20px);
}

.filter-white + span {
  @include font(Dubai-Medium, 18px);

  color: #fff;
}

label {
  @include font(Dubai-Regular, 18px);
}

input[type="text"] {
  @include font(Dubai-Regular, 18px);

  &::placeholder {
    color: #b5b5b5;
  }
  &::-ms-input-placeholder {
    color: #b5b5b5;
  }
}

h4 {
  @include font(Dubai-Medium, 14px);
  color: #fff;
}

h5 {
  @include font(Dubai-Medium, 11px);
  color: #edf4fc;
  opacity: 0.5;
}

.filter-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(48deg)
    brightness(105%) contrast(101%);
}

.navbar-nav {
  li {
    > a {
      &:hover {
        color: white;
        background-color: theme-color("primary");
        img {
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(48deg)
            brightness(105%) contrast(101%);
        }
      }
    }
  }
  > .active {
    > a {
      color: white;
      background-color: theme-color("primary");
      img {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(48deg)
          brightness(105%) contrast(101%);
      }
    }
  }
}

.fixed-height {
  height: 58px !important;
}

#wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 200px;
  max-width: 200px;
  background-color: theme-color("default");
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-right: -200px;
}

hr {
  background-color: #3d4a5a;
}

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

label {
  color: #666666;
  user-select: none;
}

.rounded-box {
  color: theme-color("dark");
  background-color: theme-color("secondary");
  border-radius: 1.25rem;
  padding: 0.6rem;
  width: auto;
}

.checkbox {
  label {
    display: inline;
    vertical-align: middle;
    position: relative;
    margin-right: 1.5rem;

    &::before {
      content: url(../images/icon-uncheck.png);
      content: url(../images/icon-uncheck.svg);
      display: inline;
      position: absolute;
      right: 0;
      margin-right: -2.5rem;
    }
    &::after {
      display: inline;
      position: absolute;
      right: 0;
      top: 0;
      margin-right: -2.5rem;
    }
  }
  input[type="checkbox"] {
    opacity: 0;
    z-index: 1;
    &:checked {
      + {
        label {
          &::after {
            content: url(../images/icon-check.png);
            content: url(../images/icon-check.svg);
          }
        }
      }
    }
  }
}

select {
  @include font(Dubai-Regular, 18px);
  background-image: url(../images/icon-arrow-down-small-dark.png);
  background-image: url(../images/icon-arrow-down-small-dark.svg);
  background-position: left 10px center;
  background-repeat: no-repeat;
  height: 41.6px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn-transparent {
  &:focus {
    box-shadow: none !important;
    outline: 0px !important;
  }
  &:active {
    box-shadow: none !important;
    outline: 0px !important;
  }
}

@media (max-width: 768px) {
  #sidebar {
    margin-right: -200px;
  }
  #sidebar.active {
    margin-right: 0;
  }
}

@media (max-width: 576px) {
  .form-inline {
    margin-right: 0.5rem;
  }
  #expandSidebarBtn {
    margin-bottom: 0.5rem;
  }
}
