@font-face {
  font-family: Dubai-Regular;
  src: url("../fonts/DubaiW23-Regular.woff");
  src: url("../fonts/DubaiW23-Regular.ttf");
}

@font-face {
  font-family: Dubai-Medium;
  src: url("../fonts/DubaiW23-Medium.woff");
  src: url("../fonts/DubaiW23-Medium.ttf");
}

h2 {
  font-family: Dubai-Medium, Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.filter-white + span {
  font-family: Dubai-Medium, Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #fff;
}

label {
  font-family: Dubai-Regular, Arial, Helvetica, sans-serif;
  font-size: 18px;
}

input[type="text"] {
  font-family: Dubai-Regular, Arial, Helvetica, sans-serif;
  font-size: 18px;
}

input[type="text"]::-webkit-input-placeholder {
  color: #b5b5b5;
}

input[type="text"]:-ms-input-placeholder {
  color: #b5b5b5;
}

input[type="text"]::-ms-input-placeholder {
  color: #b5b5b5;
}

input[type="text"]::placeholder {
  color: #b5b5b5;
}

input[type="text"]::-ms-input-placeholder {
  color: #b5b5b5;
}

h4 {
  font-family: Dubai-Medium, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #fff;
}

h5 {
  font-family: Dubai-Medium, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #edf4fc;
  opacity: 0.5;
}

.filter-white {
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(48deg) brightness(105%) contrast(101%);
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(48deg) brightness(105%) contrast(101%);
}

.navbar-nav li > a:hover {
  color: white;
  background-color: #4a90e2;
}

.navbar-nav li > a:hover img {
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(48deg) brightness(105%) contrast(101%);
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(48deg) brightness(105%) contrast(101%);
}

.navbar-nav > .active > a {
  color: white;
  background-color: #4a90e2;
}

.navbar-nav > .active > a img {
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(48deg) brightness(105%) contrast(101%);
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(48deg) brightness(105%) contrast(101%);
}

label {
  color: #666666;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.rounded-box {
  color: #535353;
  background-color: #e0e0e0;
  border-radius: 1.25rem;
  padding: 0.6rem;
  width: auto;
}

#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background-color: #273648;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#sidebar.active {
  margin-right: -250px;
}

hr {
  background-color: #3d4a5a;
}

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 768px) {
  #sidebar {
    margin-right: -250px;
  }
  #sidebar.active {
    margin-right: 0;
  }
}

@media (max-width: 576px) {
  .form-inline {
    margin-top: 0.5rem;
  }
  .form-inline .form-group {
    margin-right: 1rem;
  }
}

.checkbox label {
  display: inline;
  vertical-align: middle;
  position: relative;
  margin-right: 1.5rem;
}

.checkbox label::before {
  content: url(../images/icon-uncheck.svg);
  display: inline;
  position: absolute;
  right: 0;
  margin-right: -2.5rem;
}

.checkbox label::after {
  display: inline;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: -2.5rem;
}

.checkbox input[type="checkbox"] {
  opacity: 0;
  z-index: 1;
}

.checkbox input[type="checkbox"]:checked + label::after {
  content: url(../images/icon-check.svg);
}

select {
  background-image: url(../images/icon-arrow-down-small-dark.svg);
  background-position: left 10px center;
  background-repeat: no-repeat;
  font-family: Dubai-Regular, Arial, Helvetica, sans-serif;
  font-size: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/*# sourceMappingURL=style.css.map */