@import "../bootstrap/scss/bootstrap";

$theme-colors: (
  "primary": #4a90e2,
  "secondary": #e0e0e0,
  "default": #273648,
  "light": #f9f9f9,
  "dark": #535353,
);

@font-face {
  font-family: Dubai-Regular;
  src: url("../fonts/DubaiW23-Regular.woff");
  src: url("../fonts/DubaiW23-Regular.ttf");
}
@font-face {
  font-family: Dubai-Medium;
  src: url("../fonts/DubaiW23-Medium.woff");
  src: url("../fonts/DubaiW23-Medium.ttf");
}

h2 {
  font-family: Dubai-Medium, Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.filter-white + span {
  font-family: Dubai-Medium, Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #fff;
}

label {
  font-family: Dubai-Regular, Arial, Helvetica, sans-serif;
  font-size: 18px;
}

h4 {
  font-family: Dubai-Medium, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #fff;
}
h5 {
  font-family: Dubai-Medium, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #edf4fc;
  opacity: 0.5;
}

.filter-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(48deg)
    brightness(105%) contrast(101%);
}
.navbar-nav {
  li {
    > a {
      &:hover {
        color: white;
        background-color: theme-color("primary");
        img {
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(48deg)
            brightness(105%) contrast(101%);
        }
      }
    }
  }
  > .active {
    > a {
      color: white;
      background-color: theme-color("primary");
      img {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(48deg)
          brightness(105%) contrast(101%);
      }
    }
  }
}

label {
  color: #666666;
  user-select: none;
}
.rounded-box {
  color: theme-color("dark");
  background-color: theme-color("secondary");
  border-radius: 1.25rem;
  padding: 0.6rem;
  width: auto;
}

#wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: theme-color("default");
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-right: -250px;
}

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

@media (max-width: 768px) {
  #sidebar {
    margin-right: -250px;
    .active {
      margin-right: 0;
    }
  }
}

.checkbox {
  label {
    display: inline;
    vertical-align: middle;
    position: relative;
    margin-right: 1rem;
    &::before {
      content: url(../images/icon-uncheck.svg);
      display: inline;
      position: absolute;
      right: 0;
      margin-right: -2.5rem;
    }
    &::after {
      display: inline;
      position: absolute;
      right: 0;
      margin-right: -2.5rem;
    }
  }
  input[type="checkbox"] {
    opacity: 0;
    z-index: 1;
    &:checked {
      + {
        label {
          &::after {
            content: url(../images/icon-check.svg);
          }
        }
      }
    }
  }
}
